* {
  padding: 0;
  margin: 0;
  font: inherit;
}

*:focus {
  outline: none;
}
html,
body {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  font-family: Quicksand;
  justify-content: space-between;
}
