html, body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.parent {
    width: 49%;
    height: 50%; 
    border: 1px solid coral;
    background-color: lightblue;
    position: relative;
    touch-action: none;
}

.child {
    width: 50px;
    height: 50px;
    /* background-color: lightcoral; */
    position: absolute;
    cursor: grab;
    background-image: url('./tomato.svg');
    background-size: cover;
    background-position: center;
}


/* .child3 {
    width: 50px;
    height: 50px;

    position: absolute;
    cursor: grab;
    background-image: url('./tomato.svg');
    background-size: cover;
    background-position: center;
    filter: hue-rotate(120deg);
}

.child2 {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: grab;
    background-image: url('./basket.svg');
    background-size: cover;
    background-position: center;
} */